<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignaturas</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <script>
        function selectAsignatura(asignatura) {
            fetch('/asignaturaInvitado', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ asignatura: asignatura })
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.href = "/menuAsig";
                }
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
    
    <div class="invitado-wrapper d-flex">
        <!-- Sidebar -->
        <div class="invitado-sidebar bg-custom-blue d-flex flex-column align-items-center">
            <div class="sidebar-heading text-center mt-3">
                <img src="/img/logo.png" alt="Logo" class="img-fluid logo">
            </div>
            <div class="mt-auto mb-auto">
                <div class="list-group list-group-flush w-100 text-center">
                    <a href="/Registro" class="list-group-item list-group-item-action bg-custom-blue text-white py-3 h4">Registrarme</a>
                    <a href="/IniciarSesion" class="list-group-item list-group-item-action bg-custom-blue text-white py-3 h4">Iniciar Sesión</a>
                    <a href="/" class="list-group-item list-group-item-action bg-custom-blue text-white py-3 h4">Salir</a>
                </div>
            </div>
        </div>

        <!-- Page Content -->
        <div class="invitado-content d-flex flex-column p-4 bg-custom-light-blue w-100 position-relative">
            <div class="d-flex align-items-center mb-5">
                <img src="/img/invitado.png" alt="User Image" class="img-fluid rounded-circle mr-3" style="width: 100px; height: 100px;">
                <h2 class="display-4">¡Bienvenido!</h2>
            </div>
            <div class="invitado-center-content d-flex flex-column justify-content-center align-items-center w-100 h-100 position-absolute">
                <h4 class="display-4">Selecciona una asignatura</h4>
                <div class="mt-4 w-50 d-flex flex-column align-items-center">
                    <a href="/menuAsig" onclick="selectAsignatura('Matemáticas')" class="btn btn-custom btn-lg mb-3">Matemáticas</a>
                    <a href="/menuAsig" onclick="selectAsignatura('Física')" class="btn btn-custom btn-lg">Física</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
