<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biblioteca</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let currentExercise_cod = null; // Para almacenar el código del ejercicio actual
            let currentExercise_sol = '';
            let exerciseImageSrc = ''; // Guardar la imagen original del ejercicio
            let showingSolution = false; // Estado que indica si estamos mostrando la solución
            const solutionButton = document.querySelector('.solution-button');
            const eliminarButton = document.querySelector('.eliminar-button');
            const exerciseImage = document.getElementById('exerciseImage');
            fetch('/user-data')
                .then(response => response.json())
                .then(data => {
                    if (data.username) {
                        document.querySelector('.user-info h2').textContent = data.username;
                        document.querySelector('.user-info img').src = data.avatar;
                    }
                })
                .catch(error => console.error('Error al obtener los datos del usuario:', error));

                let exercises = [];
                let currentExerciseIndex = 0;

                // Manejar el formulario de búsqueda
                document.getElementById('searchForm').addEventListener('submit', function(e) {
                    e.preventDefault();
                    const asignatura = document.getElementById('asignatura').value;

                    fetch(`/getEjerciciosBiblioteca?asignatura=${asignatura}`)
                        .then(response => response.json())
                        .then(data => {
                            exercises = data;
                            if (exercises.length > 0) {
                                currentExerciseIndex = 0;
                                updateExercise();
                            } else {
                                alert('No se encontraron ejercicios.');
                            }
                        })
                        .catch(error => console.error('Error al obtener los ejercicios:', error));
                });

                 // Mostrar el ejercicio actual
                 function updateExercise() {
                    const exercise = exercises[currentExerciseIndex];
                    currentExercise_cod = exercise.cod_ej;
                    currentExerciseRuta = exercise.ruta_ej;
                    currentExercise_sol = exercise.ruta_sol;
                    exerciseImage.src = currentExerciseRuta;
                    showingSolution = false;
                }

                

               
                // Siguiente ejercicio
                document.getElementById('nextExercise').addEventListener('click', function() {
                    if (currentExerciseIndex < exercises.length - 1) {
                        currentExerciseIndex++;
                        updateExercise();
                    }
                });
                // Ejercicio anterior
                document.getElementById('prevExercise').addEventListener('click', function() {
                    if (currentExerciseIndex > 0) {
                        currentExerciseIndex--;
                        updateExercise();
                    }
                });

        });

        function verSolucion(){
            if (!currentExerciseCode) {
                alert("No se ha generado ningún ejercicio.");
                return;
            }
            
            if (!showingSolution) {
                // Mostrar la solución
                exerciseImage.src = currentExercise_sol;
                solutionButton.textContent = 'Volver al Ejercicio'; // Cambiar el texto del botón
                showingSolution = true; // Cambiamos el estado a "mostrando solución"
            } else {
                // Volver al ejercicio
                exerciseImage.src = exerciseImageSrc; // Restaurar la imagen del ejercicio
                solutionButton.textContent = 'Ver Solución'; // Cambiar el texto del botón de nuevo
                showingSolution = false; // Cambiamos el estado a "mostrando ejercicio"
            }
        }

    </script>
    <div class="menuAsig-wrapper d-flex">
        <!-- Sidebar -->
        <div class="asignaturas-sidebar bg-custom-blue d-flex flex-column align-items-center">
            <div class="sidebar-heading text-center mt-3">
                <img src="/img/logo.png" alt="Logo" class="img-fluid logo">
            </div>
            <div class="mt-auto mb-auto">
                <div class="list-group list-group-flush w-100 text-center">
                    <a href="/menuAsig" class="list-group-item list-group-item-action bg-custom-blue text-white py-3 h4">Inicio</a>
                    <a href="/perfil" class="list-group-item list-group-item-action bg-custom-blue text-white py-3 h4">Perfil</a>
                    <a href="/asignatura" class="list-group-item list-group-item-action bg-custom-blue text-white py-3 h4">Asignaturas</a>
                    <a href="/biblioteca" class="list-group-item list-group-item-action bg-custom-blue text-white py-3 h4">Biblioteca</a>
                    <a href="/" class="list-group-item list-group-item-action bg-custom-blue text-white py-3 h4">Cerrar Sesión</a>
                </div>
            </div>
        </div>

        <!-- Page Content -->
        <div class="menuAsig-content d-flex flex-column p-4 bg-custom-light-blue w-100 position-relative">
            <div class="menuAsig-top d-flex justify-content-between align-items-center w-100 mb-5">
                <div class="user-info d-flex align-items-center">
                    <img src="" alt="User Image" class="img-fluid rounded-circle mr-3">
                    <h2></h2>
                </div>
                <div class="elipse-container">
                    <img src="/img/elipse1.png" alt="Elipse" class="img-fluid">
                    <div class="elipse-text">
                        <h2>Biblioteca</h2> 
                    </div>
                </div>
            </div>
            <div class="menuAsig-center-content d-flex flex-column align-items-center justify-content-center w-100">
                <h4>Selecciona una asignatura</h4>
                <form class="d-flex align-items-center mb-4" id="searchForm">
                    <div class="form-group">
                        <select class="form-control custom-select-c" id="asignatura">
                            <option value="" selected disabled hidden>Asignatura</option>
                            <option value="Matematicas">Matemáticas</option>
                            <option value="Fisica">Física</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-custom btn-lg ml-3">Buscar en Biblioteca</button>
                </form>
                <div class="exercise-container mt-2">
                    <img src="" id="exerciseImage" alt="Ejercicio Aleatorio" class="img-fluid exercise-image">
                    <div class="zoom-controls">
                        <button id="zoomIn">+</button>
                        <button id="zoomOut">-</button>
                    </div>
                </div>
            </div>
            <button class="btn btn-custom btn-lg back-button" id="back-button">Volver</button>
            <button class="btn btn-custom btn-lg eliminar-button" onclick="verSolucion()">Eliminar</button>
            <button class="btn btn-custom btn-lg solution-button" id="solution">Ver Solución</button>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Redirigir a la página anterior al hacer clic en "Volver"
        document.getElementById('back-button').addEventListener('click', function() {
            window.location.href = '/menuAsig';
        });
        // Zoom con botones
        const zoomInButton = document.getElementById('zoomIn');
        const zoomOutButton = document.getElementById('zoomOut');
        let scale = 1;

        zoomInButton.addEventListener('click', function() {
            scale += 0.3;
            scale = Math.min(scale, 2); // Limita el zoom máximo al 200%
            exerciseImage.style.transform = `scale(${scale})`;
        });

        zoomOutButton.addEventListener('click', function() {
            scale -= 0.2;
            scale = Math.max(scale, 0.5); // Limita el zoom mínimo al 50%
            exerciseImage.style.transform = `scale(${scale})`;
        });
    </script>
</body>
</html>
